@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
    }

body{
    font-family: "Montserrat", sans-serif;
}

nav .active {
    border-radius: 20px;
    border: 1px solid #E20000;
    padding: 8px 24px;
}

h1{
    color: #E20000;
    font-size: 36px;
}

p{
    color: #6a6a6a;
}

#inicio img{
    height: 400px;
}

#inicio img:hover{
    height: 410px;
}

.cohete{
    height: 410px;
}

#inicio p{
    color: white;
    border: 1px solid white;
    font-weight: 600;
    border-radius: 20px;
    font-size: 17px;
}

#inicio footer p, footer a, #contacto footer p, footer a{
    color: white;
    border: none !important;
    font-weight: 100 !important; 
}

#inicio footer .fa-linkedin-in, #contacto footer .fa-linkedin-in{
    color: #E20000;
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
}
#inicio footer .fa-github, #contacto footer .fa-github{
    font-size: 38px;
    height: 40px;
    color: white;
}

#inicio footer .white-link, #contacto footer .white-link{
    color: white;
}

#inicio, #contacto{
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

#contacto textarea{
    height: 150px;
}

footer .fa-whatsapp{
    color: white;
    position: fixed;
    right: 70px;
    bottom: 0px;
    font-size: 31px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

#proyectos footer .fa-github, #sobre-mi footer .fa-github{
    font-size: 38px;
    height: 40px;
    color: #E20000;
}

#proyectos footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in{
    color: #E20000;
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
}

#proyectos footer p, footer a, #sobre-mi footer p, footer a{
    color: #E20000;
}

#stack{
    background: rgb(125, 7, 7);
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%); 
}

#stack h2{
    color: white;
    font-size: 24px;
}

#stack .tecnologia{
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#stack h3{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}

#stack .tecnologia i{
    font-size: 60px;
    color:#6A6A6A;
}

#experiencia h2, #formacion h2{
    font-size: 24px;
    color: black;
    font-weight: 400;
}

#experiencia h3,#formacion h3{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}

#experiencia h4, #formacion h4{
    font-size: 17px;
    color: black;
}
#experiencia h5, #formacion h5{
    color: #6A6A6A;
    font-size: 14px;
}
#experiencia p, #formacion p{
    color: #6a6a6a;
    font-size: 16px;
}

#experiencia img, #formacion img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#experiencia img:hover, #formacion img:hover {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#formacion i{
    font-size: 50px;
    color: #6A6A6A;
}   

#idiomas{
    background-color: #eee;
}

#idiomas i{
    font-size: 80px;
    color: white;
}

#idiomas .card{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}

#idiomas .card-idioma{
    border-radius: 15px !important;
}

#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}

#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}

.proyecto{
    background-color: white;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.proyecto img{
    height: 217px;
}

.proyecto h2{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
}

.proyecto p{
    font-size: 14px;
    height: 100px;
}

.codigo-fuente{
    color: #E20000;
    float: inline-end;
}

#bio img{
    border-radius: 150px;
   
}

.btn{
    color: #370a6d;
    background-color: white;
    border-radius: 20px;
}

.btn:hover{
    background-color: #370a6d;
    color: white;
    border-radius: 20px;
}

.btn-rojo{
    background-color: #E20000;
    color: white;
    border-radius: 20px;
}

@media (max-width: 750px){
    /*Para mobile*/

#proyectos{
        background-size: contain;
}
}